# figures
results/data/figures/
results/model/figures/
video_labels/

# references to ignore
RocketRL/python/refs

# work in progress
RocketRL/python/in_progress

# pycache
__pycache__/

# extensions to ignore
*.pyc
*.p

