# figures
results/data/figures/
results/model/figures/
video_labels/

# references to ignore
RocketRL/python/refs

# work in progress
RocketRL/python/in_progress
RocketRL/python/func/ray_funcs.py

# pycache
__pycache__/

# extensions to ignore
*.pyc


