# figures
results/data/figures/
results/model/figures/

# references to ignore
python/refs

# work in progress
python/in_progress
python/func/ray_funcs.py

# saved pickles
results/pickles/demo/

# pycache
__pycache__/

# extensions to ignore
*.pyc


